header{
    background: linear-gradient(10deg,#22175D,#7B72D8);
    padding: 0 20px;
    border-radius: 3px;    
}

.logo{
    float: left;           
    margin: 20px 0;
    padding: 10px;    
    a{        
        text-align: center;
        color: #fff;        
        line-height: 55px;
        font-size: 40px;
        display: block;
    }    
}

.navigation{
    float: right;
    margin-top: 65px;
    text-align: center;    
    li{
        display: inline-block;
        font-size: 1.25em;
        margin-left: 20px;
        color:#f1f1f1;
    }
    a{
        color:#f1f1f1;
        &:hover{
            color: #A62500;
        }
    }
}