header {
  background: #3F92D2;
  padding: 0 20px;
  border-radius: 40px; }

.logo {
  float: left;
  margin: 20px 0;
  padding: 10px;
  background: #024C68;
  border-radius: 50%; }
  .logo a {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #fff;
    width: 75px;
    line-height: 75px;
    font-size: 75px;
    display: block; }

.navigation {
  float: right;
  margin-top: 60px; }
  .navigation li {
    display: inline-block;
    font-size: 1.25em;
    margin-left: 20px;
    color: #f1f1f1; }
  .navigation a {
    color: #f1f1f1; }
    .navigation a:hover {
      color: #A62500; }
