#portfolioSection {
  margin: 10px 0;
  padding: 20px;
  border-radius: 3px; }

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px; }

.portfolio_card {
  box-sizing: border-box;
  width: calc(33% - 30px);
  margin: 15px;
  padding: 15px;
  text-align: center;
  background: linear-gradient(25deg, #146253, #2A7A6A);
  border: 1px solid #00A67C;
  border-radius: 3px;
  color: #f1f1f1;
  transition: background-color .3s; }
  .portfolio_card h2 {
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 1.75em;
    transition: color .3s; }
  .portfolio_card:hover {
    background: #fff;
    border: 1px solid #00A67C; }
  .portfolio_card:hover h2 {
    color: #00A67C; }

.imageHolder {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 170px;
  border: 1px solid #00A67C; }
  .imageHolder img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 170px;
    object-fit: cover; }
